.blog-content img {
  width: 100%;
}
.blog-contents {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 50px;
}
.blog-content {
  padding-top: 30px;
  width: 365px;
}