
.service-content img {
  width: 290px;
}
.service-contents dl {
  display: flex;
  flex-wrap: wrap;
  border-bottom: 1px solid black;
}
.service-contents dl:first-child {
  border-top: 1px solid black;
}
dl {
  display: flex;
}
dl dt {
  width: 25%;
  margin: 20px auto 25px 0;
  justify-content: space-between;
}
dl dd p {
  padding-left: 45px;
}
dl dd {
  width: 75%;
  padding: 5px 20px;
  margin: 20px auto;
}
dl dd h4 {
  font-size: 24px;
}